

.loaddiv {
width:15px;
max-width:90%;
height:30px;
background: rgb(227,227,227);
background: linear-gradient(90deg, rgba(227,227,227,1) 0%, rgba(182,182,182,1) 7%, rgba(182,182,182,1) 13%, rgba(227,227,227,1) 25%);
background-size:900%;
background-position: 100% 0%;
animation: load 1.8s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
border-radius:11px;
margin:0px;
padding:0px;
}

@keyframes load {
  0% {
    background-position: 100% 0%;
  }
  99.99% {
    background-position: -30% 0%;
  }
  100% {
  background-position: 100% 0%;
  }
}

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  outline:none; -webkit-tap-highlight-color:rgba(0,0,0,0);
}
h1 {
margin-top:30px;
}
body{
  font-family: sans-serif;
}
#out {color:#333;opacity:1;margin:10px;}
canvas {
  position: relative;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  border-radius:12px;
  }
.ans {
  background:#fff;
  padding:15px;
  border-radius:99em;
  box-shadow:0 0 15px 1px rgba(0,0,0,0.05);
  color:#333;
  text-decoration:none;
  font-size:20px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.ans::before {
    content:'';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 99em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    transition: transform .3s, opacity 1s;
    width:100%;
    height:100%;
overflow: hidden;
-webkit-filter: blur(1px);
  filter: blur(1px);
}

.ans:active::before {
    transition: 0s;
    opacity: .6;
    transform: translate(-50%, -50%) scale(0);
    overflow: hidden;
}

center {margin-top:30px;margin-bottom:30px;}
.box {
padding:0px;
width:80%;
max-width:400px;
background:#fff;
box-shadow:0 0 15px 1px rgba(0,0,0,0.05);
height:110px;
margin-top:30px;
border-radius:15px;
position: relative;
left:50%;
transform: translateX(-50%);
}

.ansbox {
padding:10px;
width:80%;
max-width:400px;
background:#fff;
box-shadow:0 0 15px 1px rgba(0,0,0,0.05);
height:auto;
min-height:110px;
margin-top:30px;
border-radius:15px;
-webkit-animation:'zoom' 0.3s ease-in-out 0s 1 alternate forwards;
position: relative;
}
@keyframes zoom{
    0%{
        opacity:0.2;
        transform: translateX(-0%) scale(0.9);
    }
    60%{
        opacity:1;
        transform: translateX(-0%) scale(1.15);
    }
    100%{
    opacity:1;
        transform: translateX(-0%) scale(1);
    }
}

.form{
  width: 90%;
  position: relative;
  height: 50px;
  background:#fff;
  overflow: hidden;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.form input{
  font-size: 16px;
  padding-top: 20px;
  width: 100%;
  height: 100%;
  background: transparent;
  color: #333;
  border: none;
  outline: none;
}
.form label{
  
  position:absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #333;
  pointer-events: none;
}
.form label::after{
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #333;
  transition: 0.45s;
  transform: translateX(-100%);
}

span{
  position:absolute;
  bottom: 5px;
  left: 5px;
  transition: all 0.2s ease;
  opacity:0.3;
}

.form input:focus + .label-hoshi .content-hoshi, .form input:valid + .label-hoshi .content-hoshi{
  transform: translateY(-112%) translateX(-5px);
  font-size: 14px;
  color: #333;
  opacity:1;
}
.form input:focus + .label-hoshi::after, .form input:valid + .label-hoshi::after{
  transform:translateX(0%);
}
